In [1]:
#data scraping from google search
import urllib
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
class GoogleSearchScraping(object):
    USER_AGENT = "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:65.0) Gecko/20100101 Firefox/65.0"

    #Get search query
    def getQuery(self, query):
        return f"/search?q={query}"
    
    #Get search URL
    def getURL(self, query):   
        query = query.replace(' ', '+')
        return f"https://google.com{query}"
    
    #fetch data from google search
    def getData(self, query):
        headers = {"user-agent" : self.USER_AGENT}
        response = requests.get(self.getURL(query), headers=headers)
        #get response status
        if response.status_code == 200:
            beautifulSoup = BeautifulSoup(response.content, "html.parser")
        return beautifulSoup

In [3]:
#scraping google search  
class GooglePeopleBio(GoogleSearchScraping):
    def __init__(self, fileName):
        super(GooglePeopleBio, self).__init__()
        #generate CSV file by class loading
        self.generateCSVFile(fileName)
        
    #scraping people Bio bar list
    def getPeopleList(self, query):
        soup = self.getData(self.getQuery(query))
        results = []
        bar = soup.find(id='appbar')
        for a in bar.find_all('a', href=True):
            results.append(a['href'])
        return results
    
    #scraping bio container
    def getPeopleDetails(self, query):
        results=[]
        PeopleList = self.getPeopleList(query)
        for people in PeopleList:
            DetailsSoup = self.getData(people)
            details = DetailsSoup.find(id='wp-tabs-container')
            if details is not None:
                try:
                    results.append(self.dataFormat(details))
                except:
                      pass
        df = pd.DataFrame(results, columns=self.columns)
        df.to_csv(self.fileName, mode='a', index=False, header=False)
        return df
    
    # create new file
    def generateCSVFile(self, fileName): 
        self.fileName = fileName+".csv"
        self.columns = "name birthdate twitter".split()
        df = pd.DataFrame([], columns=self.columns)
        df.to_csv(self.fileName, mode="w", index=False, header=True)
    
    #format scraping result
    def dataFormat(self, details):
        socialMediaResults = []
        name = details.find('h2', attrs = {'class' : 'qrShPb'}).find('span').text
        birthdate = details.find('div', attrs = {'data-attrid' : 'kc:/people/person:born'}).text
        socialMedia = details.find('div', attrs = {'data-attrid' : 'kc:/common/topic:social media presence'})
        for a in socialMedia.find_all('a', href=True):
            href = a['href']
            if href.find("twitter") != -1:
                   return (name, birthdate, href)
        return (name, birthdate, '')

In [4]:
query = 'Celebrities bio'
celebrities = GooglePeopleBio(query)
celebrities.getPeopleDetails(query)

,name,birthdate,twitter
0,Kim Kardashian,"Born: October 21, 1980 (age 39Â years), Los An...",https://twitter.com/KimKardashian
1,Jennifer Lopez,"Born: July 24, 1969 (age 51 years), Castle Hil...",https://twitter.com/JLo
2,Donald Trump,"Born: June 14, 1946 (age 74 years), Jamaica Ho...",https://twitter.com/realDonaldTrump
3,Rihanna,"Born: February 20, 1988 (age 32 years), Saint ...",https://twitter.com/rihanna
4,Elton John,"Born: March 25, 1947 (age 73Â years), Pinner, ...",https://twitter.com/eltonofficial
5,Nicole Richie,"Born: September 21, 1981 (age 39Â years), Berk...",https://twitter.com/nicolerichie
6,Oprah Winfrey,"Born: January 29, 1954 (age 66 years), Koscius...",https://twitter.com/Oprah
7,Justin Bieber,"Born: March 1, 1994 (age 26Â years), St. Josep...",https://twitter.com/justinbieber
8,Ellen DeGeneres,"Born: January 26, 1958 (age 62 years), Metairi...",https://twitter.com/TheEllenShow
9,Beyoncé,"Born: September 4, 1981 (age 39 years), Housto...",https://twitter.com/Beyonce
10,Sylvester Stallone,"Born: July 6, 1946 (age 74 years), Hell's Kitc...",https://twitter.com/TheSlyStallone
11,Eminem,"Born: October 17, 1972 (age 48 years), Saint J...",https://twitter.com/Eminem
12,Demi Lovato,"Born: August 20, 1992 (age 28Â years), Albuque...",https://twitter.com/ddlovato
13,Anna Kendrick,"Born: August 9, 1985 (age 35 years), Portland, ME",https://twitter.com/AnnaKendrick47
14,50 Cent,"Born: July 6, 1975 (age 45 years), South Jamai...",https://twitter.com/50cent
15,Drew Barrymore,"Born: February 22, 1975 (age 45Â years), Culve...",https://twitter.com/DrewBarrymore
16,Demi Moore,"Born: November 11, 1962 (age 57 years), Roswel...",https://twitter.com/justdemi
17,Lil Wayne,"Born: September 27, 1982 (age 38 years), New O...",https://twitter.com/LilTunechi
18,Joe Biden,"Born: November 20, 1942 (age 77 years), Scrant...",https://twitter.com/JoeBiden
19,Keith Richards,"Born: December 18, 1943 (age 76 years), Dartfo...",https://twitter.com/officialKeef
20,Matthew McConaughey,"Born: November 4, 1969 (age 50 years), Uvalde, TX",https://twitter.com/McConaughey
21,Barbara Walters,"Born: September 25, 1929 (age 91 years), Bosto...",https://twitter.com/barbarajwalters
22,Amy Poehler,"Born: September 16, 1971 (age 49 years), Newto...",https://twitter.com/amypoehlerorg
23,Ivanka Trump,"Born: October 30, 1981 (age 38 years), Manhatt...",https://twitter.com/IvankaTrump
24,Ryan O'Neal,"Born: April 20, 1941 (age 79 years), Los Angel...",https://twitter.com/ryan_o_neal
25,Jessica Simpson,"Born: July 10, 1980 (age 40 years), Abilene, TX",https://twitter.com/JessicaSimpson
26,Chelsea Handler,"Born: February 25, 1975 (age 45 years), Living...",https://twitter.com/chelseahandler
27,Anna Faris,"Born: November 29, 1976 (age 43 years), Baltim...",https://twitter.com/AnnaKFaris
28,Paris Hilton,"Born: February 17, 1981 (age 39 years), New Yo...",https://twitter.com/ParisHilton
29,Arnold Schwarzenegger,"Born: July 30, 1947 (age 73 years), Thal, Austria",https://twitter.com/Schwarzenegger
30,Hillary Clinton,"Born: October 26, 1947 (age 72 years), Edgewat...",https://www.twitter.com/HillaryClinton
31,Andre Agassi,"Born: April 29, 1970 (age 50 years), Las Vegas...",https://twitter.com/andreagassi
32,Khloé Kardashian,"Born: June 27, 1984 (age 36 years), Los Angele...",https://twitter.com/khloekardashian
33,Busy Philipps,"Born: June 25, 1979 (age 41 years), Oak Park, IL",https://twitter.com/busyphilipps
34,Gabrielle Union,"Born: October 29, 1972 (age 47 years), Omaha, NE",https://twitter.com/itsgabrielleu
35,Kelly Osbourne,"Born: October 27, 1984 (age 35Â years), Westmi...",https://twitter.com/kellyosbourne
36,Anderson Cooper,"Born: June 3, 1967 (age 53 years), New York, NY",https://twitter.com/andersoncooper
37,Jay-Z,"Born: December 4, 1969 (age 50 years), Brookly...",https://twitter.com/S_C_

In [5]:
celebrities.getPeopleDetails('Actors')

,name,birthdate,twitter
0,Tom Hanks,"Born: July 9, 1956 (age 64 years), Concord, CA",https://twitter.com/tomhanks
1,Will Smith,"Born: September 25, 1968 (age 52 years), Phila...",
2,Jamie Foxx,"Born: December 13, 1967 (age 52 years), Terrel...",https://twitter.com/iamjamiefoxx
3,Leonardo DiCaprio,"Born: November 11, 1974 (age 45 years), Los An...",https://twitter.com/LeoDiCaprio
4,Chris Evans,"Born: June 13, 1981 (age 39 years), Boston, MA",https://twitter.com/ChrisEvans
5,Nicole Kidman,"Born: June 20, 1967 (age 53 years), Honolulu, HI",
6,Hugh Jackman,"Born: October 12, 1968 (age 52 years), Sydney,...",https://twitter.com/RealHughJackman
7,Margot Robbie,"Born: July 2, 1990 (age 30 years), Dalby, Aust...",https://twitter.com/MargotRobbie
8,Samuel L. Jackson,"Born: December 21, 1948 (age 71 years), Washin...",https://twitter.com/SamuelLJackson
9,Timothée Chalamet,"Born: December 27, 1995 (age 24 years), Manhat...",https://twitter.com/RealChalamet
10,Jim Carrey,"Born: January 17, 1962 (age 58 years), Newmark...",https://twitter.com/JimCarrey
11,Bryan Cranston,"Born: March 7, 1956 (age 64 years), Hollywood,...",https://twitter.com/BryanCranston
12,James Franco,"Born: April 19, 1978 (age 42 years), Palo Alto...",
13,Adam Sandler,"Born: September 9, 1966 (age 54 years), Brookl...",https://twitter.com/AdamSandler
14,Jennifer Lawrence,"Born: August 15, 1990 (age 30 years), Indian H...",
15,Jennifer Lopez,"Born: July 24, 1969 (age 51 years), Castle Hil...",https://twitter.com/JLo
16,Jennifer Aniston,"Born: February 11, 1969 (age 51 years), Sherma...",https://twitter.com/JenniferAnnistn
17,Jason Bateman,"Born: January 14, 1969 (age 51 years), Rye, NY",https://twitter.com/batemanjason
18,Robert Downey Jr.,"Born: April 4, 1965 (age 55 years), Manhattan,...",https://twitter.com/RobertDowneyJr
19,Glenn Close,"Born: March 19, 1947 (age 73 years), Greenwich...",
20,Mahershala Ali,"Born: February 16, 1974 (age 46 years), Oaklan...",
21,Tom Cruise,"Born: July 3, 1962 (age 58 years), Syracuse, NY",https://twitter.com/TomCruise
22,Ewan McGregor,"Born: March 31, 1971 (age 49 years), Perth Roy...",https://twitter.com/mcgregor_ewan
23,Julia Roberts,"Born: October 28, 1967 (age 52 years), Smyrna, GA",
24,Ryan Reynolds,"Born: October 23, 1976 (age 43 years), Vancouv...",https://twitter.com/VancityReynolds
25,Michael B. Jordan,"Born: February 9, 1987 (age 33 years), Santa A...",https://twitter.com/michaelb4jordan
26,Darren Criss,"Born: February 5, 1987 (age 33 years), San Fra...",https://twitter.com/DarrenCriss
27,John Boyega,"Born: March 17, 1992 (age 28 years), Peckham, ...",https://twitter.com/johnboyega
28,Natalie Portman,"Born: June 9, 1981 (age 39 years), Jerusalem, ...",
29,Michael Caine,"Born: March 14, 1933 (age 87 years), Rotherhit...",https://twitter.com/themichaelcaine

In [6]:
celebrities.getPeopleDetails('Professional Athletes')

,name,birthdate,twitter
0,LeBron James,"Born: December 30, 1984 (age 35 years), Akron, OH",https://twitter.com/KingJames
1,Tiger Woods,"Born: December 30, 1975 (age 44 years), Cypres...",https://twitter.com/tigerwoods
2,Stephen Curry,"Born: March 14, 1988 (age 32 years), Akron, OH",https://twitter.com/StephenCurry30
3,Cristiano Ronaldo,"Born: February 5, 1985 (age 35 years), Hospita...",https://twitter.com/Cristiano
4,Floyd Mayweather,"Born: February 24, 1977 (age 43 years), Grand ...",https://twitter.com/FloydMayweather
5,Serena Williams,"Born: September 26, 1981 (age 39 years), Sagin...",https://twitter.com/serenawilliams
6,Lionel Messi,"Born: June 24, 1987 (age 33 years), Rosario, A...",
7,David Beckham,"Born: May 2, 1975 (age 45 years), Whipps Cross...",
8,Magic Johnson,"Born: August 14, 1959 (age 61 years), Lansing, MI",https://twitter.com/MagicJohnson
9,Alex Rodriguez,"Born: July 27, 1975 (age 45 years), Washington...",https://twitter.com/AROD
10,Tim Tebow,"Born: August 14, 1987 (age 33 years), Makati, ...",https://twitter.com/TimTebow
11,Bo Jackson,"Born: November 30, 1962 (age 57 years), Bessem...",https://twitter.com/bojackson
12,Ray Lewis,"Born: May 15, 1975 (age 45 years), Bartow, FL",https://twitter.com/raylewis
13,Kevin Durant,"Born: September 29, 1988 (age 32 years), Washi...",https://twitter.com/KDTrey5
14,Maria Sharapova,"Born: April 19, 1987 (age 33Â years), Nyagan, ...",https://twitter.com/MariaSharapova
15,Ben Simmons,"Born: July 20, 1996 (age 24Â years), Melbourne...",https://twitter.com/BenSimmons25
16,Conor McGregor,"Born: July 14, 1988 (age 32 years), Crumlin, D...",https://twitter.com/TheNotoriousMMA
17,Roger Federer,"Born: August 8, 1981 (age 39 years), Basel, Sw...",https://twitter.com/rogerfederer
18,Megan Rapinoe,"Born: July 5, 1985 (age 35 years), Redding, CA",https://twitter.com/mpinoe
19,Derrick Rose,"Born: October 4, 1988 (age 32 years), Englewoo...",https://twitter.com/drose
20,Tony Gonzalez,"Born: February 27, 1976 (age 44 years), Torran...",https://twitter.com/tonygonzalez88
21,Neymar,"Born: February 5, 1992 (age 28 years), Mogi da...",https://twitter.com/neymarjr
22,Manny Pacquiao,"Born: December 17, 1978 (age 41 years), Kibawe...",https://twitter.com/MannyPacquiao
23,Jeremy Lin,"Born: August 23, 1988 (age 32 years), Torrance...",https://twitter.com/JLin7
24,Shaquille O'Neal,"Born: March 6, 1972 (age 48 years), Newark, NJ",https://twitter.com/SHAQ
25,Danny Ainge,"Born: March 17, 1959 (age 61 years), Eugene, OR",https://twitter.com/danielrainge
26,Jim Brown,"Born: February 17, 1936 (age 84 years), St. Si...",https://twitter.com/jimbrownnfl32

In [7]:
celebrities.getPeopleDetails('Business People Biography')

,name,birthdate,twitter
0,Warren Buffett,"Born: August 30, 1930 (age 90 years), Omaha, NE",https://twitter.com/WarrenBuffett
1,Donald Trump,"Born: June 14, 1946 (age 74 years), Jamaica Ho...",https://twitter.com/realDonaldTrump
2,Richard Branson,"Born: July 18, 1950 (age 70 years), Blackheath...",https://twitter.com/richardbranson
3,Mark Zuckerberg,"Born: May 14, 1984 (age 36 years), White Plain...",
4,Robert Iger,"Born: February 10, 1951 (age 69 years), New Yo...",https://twitter.com/robertiger
5,Kenneth Langone,"Born: September 16, 1935 (age 85 years), Rosly...",https://twitter.com/kenlangone
6,Mike Bloomberg,"Born: February 14, 1942 (age 78 years), Bright...",https://twitter.com/MikeBloomberg
7,Arianna Huffington,"Born: July 15, 1950 (age 70 years), Athens, Gr...",https://twitter.com/ariannahuff
8,Eric Schmidt,"Born: April 27, 1955 (age 65 years), Falls Chu...",https://twitter.com/ericschmidt
9,Ted Turner,"Born: November 19, 1938 (age 81 years), Cincin...",https://twitter.com/tedturneriii
10,Tim Ferriss,"Born: July 20, 1977 (age 43 years), East Hampt...",https://twitter.com/tferriss
11,Howard Schultz,"Born: July 19, 1953 (age 67 years), Brooklyn, ...",https://twitter.com/howardschultz
12,Larry Ellison,"Born: August 17, 1944 (age 76 years), The Bron...",https://twitter.com/larryellison
13,Michael S. Dell,"Born: February 23, 1965 (age 55 years), Housto...",https://twitter.com/michaeldell
14,Blake Mycoskie,"Born: August 26, 1976 (age 44 years), Arlingto...",https://twitter.com/blakemycoskie
15,Satya Nadella,"Born: August 19, 1967 (age 53 years), Hyderaba...",https://twitter.com/satyanadella
16,Sheryl Sandberg,"Born: August 28, 1969 (age 51 years), Washingt...",https://twitter.com/sherylsandberg
17,Barbara Corcoran,"Born: March 10, 1949 (age 71 years), Edgewater...",https://twitter.com/barbaracorcoran
18,Derek Sivers,"Born: September 22, 1969 (age 51 years), Unite...",https://twitter.com/sivers
19,Ray Dalio,"Born: August 8, 1949 (age 71 years), Jackson H...",https://twitter.com/raydalio
20,Kris Jenner,"Born: November 5, 1955 (age 64 years), San Die...",https://twitter.com/KrisJenner
21,Tim Draper,"Born: June 11, 1958 (age 62 years), California",https://twitter.com/timdraper
22,Martin Sorrell,"Born: February 14, 1945 (age 75 years), London...",https://twitter.com/martinsorrell
23,James C. Collins,"Born: January 25, 1958 (age 62 years), Aurora, CO",https://twitter.com/j_ccollins
24,Jay-Z,"Born: December 4, 1969 (age 50 years), Brookly...",https://twitter.com/S_C_
25,Tony Hsieh,"Born: December 12, 1973 (age 46 years), Illinois",
26,Duncan Bannatyne,"Born: February 2, 1949 (age 71 years), Clydeba...",https://twitter.com/duncanbannatyne

In [8]:
celebrities.getPeopleDetails('Famous people')

,name,birthdate,twitter
0,Donald Trump,"Born: June 14, 1946 (age 74 years), Jamaica Ho...",https://twitter.com/realDonaldTrump
1,Barack Obama,"Born: August 4, 1961 (age 59 years), Kapiʻolan...",https://twitter.com/BarackObama
2,Oprah Winfrey,"Born: January 29, 1954 (age 66 years), Koscius...",https://twitter.com/Oprah
3,Tom Hanks,"Born: July 9, 1956 (age 64 years), Concord, CA",https://twitter.com/tomhanks
4,Justin Bieber,"Born: March 1, 1994 (age 26 years), St. Joseph...",https://twitter.com/justinbieber
5,Joe Biden,"Born: November 20, 1942 (age 77 years), Scrant...",https://twitter.com/JoeBiden
6,Taylor Swift,"Born: December 13, 1989 (age 30 years), West R...",https://twitter.com/taylorswift13
7,Will Smith,"Born: September 25, 1968 (age 52 years), Phila...",
8,Jay-Z,"Born: December 4, 1969 (age 50 years), Brookly...",https://twitter.com/S_C_
9,Kim Kardashian,"Born: October 21, 1980 (age 39Â years), Los An...",https://twitter.com/KimKardashian
10,David Beckham,"Born: May 2, 1975 (age 45 years), Whipps Cross...",
11,Tiger Woods,"Born: December 30, 1975 (age 44 years), Cypres...",https://twitter.com/tigerwoods
12,Hillary Clinton,"Born: October 26, 1947 (age 72 years), Edgewat...",https://www.twitter.com/HillaryClinton
13,Robert Downey Jr.,"Born: April 4, 1965 (age 55 years), Manhattan,...",https://twitter.com/RobertDowneyJr
14,Ariana Grande,"Born: June 26, 1993 (age 27 years), Boca Raton...",https://twitter.com/ArianaGrande
15,Jim Carrey,"Born: January 17, 1962 (age 58 years), Newmark...",https://twitter.com/JimCarrey
16,Bill Clinton,"Born: August 19, 1946 (age 74 years), Hope, AR",https://twitter.com/BillClinton
17,Harry Styles,"Born: February 1, 1994 (age 26 years), Redditc...",https://twitter.com/Harry_Styles
18,Eminem,"Born: October 17, 1972 (age 48 years), Saint J...",https://twitter.com/Eminem
19,Serena Williams,"Born: September 26, 1981 (age 39 years), Sagin...",https://twitter.com/serenawilliams
20,Adele,"Born: May 5, 1988 (age 32 years), Tottenham, L...",https://twitter.com/Adele
21,Drake,"Born: October 24, 1986 (age 33 years), Toronto...",https://twitter.com/Drake
22,Ellen DeGeneres,"Born: January 26, 1958 (age 62 years), Metairi...",https://twitter.com/TheEllenShow
23,Arnold Schwarzenegger,"Born: July 30, 1947 (age 73 years), Thal, Austria",https://twitter.com/Schwarzenegger
24,Selena Gomez,"Born: July 22, 1992 (age 28Â years), Grand Pra...",https://twitter.com/selenagomez
25,Elton John,"Born: March 25, 1947 (age 73Â years), Pinner, ...",https://twitter.com/eltonofficial
26,Rihanna,"Born: February 20, 1988 (age 32 years), Saint ...",https://twitter.com/rihanna
27,Chrissy Teigen,"Born: November 30, 1985 (age 34 years), Delta, UT",https://twitter.com/chrissyteigen
28,Paris Hilton,"Born: February 17, 1981 (age 39 years), New Yo...",https://twitter.com/ParisHilton
29,Zac Efron,"Born: October 18, 1987 (age 33Â years), San Lu...",https://twitter.com/ZacEfron

In [9]:
celebrities.getPeopleDetails('american football players biography')

,name,birthdate,twitter
0,Tom Brady,"Born: August 3, 1977 (age 43 years), San Mateo...",https://twitter.com/TomBrady
1,Jerry Rice,"Born: October 13, 1962 (age 58 years), Starkvi...",https://twitter.com/jerryrice
2,Steve Young,"Born: October 11, 1961 (age 59 years), Salt La...",https://twitter.com/steveyoungqb
3,Tony Dungy,"Born: October 6, 1955 (age 65 years), Jackson, MI",https://twitter.com/tonydungy
4,Brett Favre,"Born: October 10, 1969 (age 51 years), Gulfpor...",https://twitter.com/brettfavre
5,Urban Meyer,"Born: July 10, 1964 (age 56 years), Toledo, OH",https://twitter.com/coachurbanmeyer
6,Tim Tebow,"Born: August 14, 1987 (age 33 years), Makati, ...",https://twitter.com/TimTebow
7,Emmitt Smith,"Born: May 15, 1969 (age 51 years), Pensacola, FL",https://twitter.com/emmittsmith22
8,Ray Lewis,"Born: May 15, 1975 (age 45 years), Bartow, FL",https://twitter.com/raylewis
9,Deion Sanders,"Born: August 9, 1967 (age 53 years), Fort Myer...",http://www.twitter.com/deionsanders
10,Sean Payton,"Born: December 29, 1963 (age 56 years), San Ma...",https://twitter.com/seanpayton

In [10]:
celebrities.getPeopleDetails('basketball players')

,name,birthdate,twitter
0,LeBron James,"Born: December 30, 1984 (age 35 years), Akron, OH",https://twitter.com/KingJames
1,Shaquille O'Neal,"Born: March 6, 1972 (age 48 years), Newark, NJ",https://twitter.com/SHAQ
2,Kareem Abdul-Jabbar,"Born: April 16, 1947 (age 73 years), New York, NY",https://twitter.com/kaj33
3,Kevin Durant,"Born: September 29, 1988 (age 32 years), Washi...",https://twitter.com/KDTrey5
4,Magic Johnson,"Born: August 14, 1959 (age 61 years), Lansing, MI",https://twitter.com/MagicJohnson
5,Bill Russell,"Born: February 12, 1934 (age 86 years), West M...",https://twitter.com/realbillrussell
6,Stephen Curry,"Born: March 14, 1988 (age 32 years), Akron, OH",https://twitter.com/StephenCurry30
7,Chris Paul,"Born: May 6, 1985 (age 35 years), Winston-Sale...",https://twitter.com/CP3
8,Russell Westbrook,"Born: November 12, 1988 (age 31 years), Long B...",https://twitter.com/russwest44
9,Dwyane Wade,"Born: January 17, 1982 (age 38 years), Chicago...",https://twitter.com/DwyaneWade
10,Tim Duncan,"Born: April 25, 1976 (age 44 years), Saint Cro...",https://twitter.com/duncanrelief
11,Carmelo Anthony,"Born: May 29, 1984 (age 36 years), Brooklyn, N...",https://twitter.com/carmeloanthony
12,James Harden,"Born: August 26, 1989 (age 31 years), Bellflow...",https://twitter.com/JHarden13
13,Dennis Rodman,"Born: May 13, 1961 (age 59 years), Trenton, NJ",https://twitter.com/dennisrodman
14,Allen Iverson,"Born: June 7, 1975 (age 45 years), Hampton, VA",https://twitter.com/alleniverson
15,Anthony Davis,"Born: March 11, 1993 (age 27 years), Chicago, IL",https://twitter.com/AntDavis23
16,Scottie Pippen,"Born: September 25, 1965 (age 55 years), Hambu...",https://twitter.com/ScottiePippen
17,Kevin Garnett,"Born: May 19, 1976 (age 44 years), Greenville, SC",https://twitter.com/kevingarnett5kg
18,Hakeem Olajuwon,"Born: January 21, 1963 (age 57 years), Lagos, ...",https://twitter.com/dr34m
19,Isiah Thomas,"Born: April 30, 1961 (age 59 years), Chicago, IL",https://twitter.com/IsiahThomas
20,Kyrie Irving,"Born: March 23, 1992 (age 28 years), Melbourne...",https://twitter.com/KyrieIrving
21,Julius Erving,"Born: February 22, 1950 (age 70 years), East M...",https://twitter.com/juliuserving
22,Dirk Nowitzki,"Born: June 19, 1978 (age 42 years), Würzburg, ...",https://twitter.com/swish41
23,Patrick Ewing,"Born: August 5, 1962 (age 58 years), Kingston,...",https://twitter.com/coachewing33
24,Jimmy Butler,"Born: September 14, 1989 (age 31 years), Houst...",https://twitter.com/JimmyButler
25,Kawhi Leonard,"Born: June 29, 1991 (age 29 years), Los Angele...",https://twitter.com/kawhileonard
26,Bam Adebayo,"Born: July 18, 1997 (age 23 years), Newark, NJ",https://twitter.com/bam1of1
27,David Robinson,"Born: August 6, 1965 (age 55 years), Key West, FL",https://twitter.com/davidtheadmiral
28,Zion Williamson,"Born: July 6, 2000 (age 20 years), Salisbury, NC",https://twitter.com/Zionwilliamson
29,Karl Malone,"Born: July 24, 1963 (age 57 years), Summerfiel...",https://twitter.com/thedeliverer_32
30,Damian Lillard,"Born: July 15, 1990 (age 30 years), Oakland, CA",https://twitter.com/Dame_Lillard
31,Ray Allen,"Born: July 20, 1975 (age 45 years), Castle Air...",https://twitter.com/greenrayn20
32,Elgin Baylor,"Born: September 16, 1934 (age 86 years), Washi...",https://twitter.com/elginbaylor
33,Derrick Rose,"Born: October 4, 1988 (age 32 years), Englewoo...",https://twitter.com/drose
34,Paul George,"Born: May 2, 1990 (age 30 years), Palmdale, CA",https://twitter.com/Yg_Trece
35,Dwight Howard,"Born: December 8, 1985 (age 34 years), Atlanta...",https://twitter.com/DwightHoward
36,Giannis Antetokounmpo,"Born: December 6, 1994 (age 25 years), Athens,...",https://twitter.com/Giannis_An34
37,Luka Dončić,"Born: February 28, 1999 (age 21 years), Ljublj...",https://twitter.com/luka7doncic

In [11]:
celebrities.getPeopleDetails('Models biography')

,name,birthdate,twitter
0,Naomi Campbell,"Born: May 22, 1970 (age 50 years), Streatham, ...",https://twitter.com/NaomiCampbell
1,Heidi Klum,"Born: June 1, 1973 (age 47 years), Bergisch Gl...",https://twitter.com/heidiklum
2,Gisele Bündchen,"Born: July 20, 1980 (age 40 years), Horizontin...",https://twitter.com/giseleofficial
3,Cindy Crawford,"Born: February 20, 1966 (age 54 years), DeKalb...",https://twitter.com/CindyCrawford
4,Brooke Shields,"Born: May 31, 1965 (age 55 years), Manhattan, ...",https://twitter.com/BrookeShields
5,Grace Jones,"Born: May 19, 1948 (age 72 years), Spanish Tow...",https://twitter.com/GraceJones
6,Pamela Anderson,"Born: July 1, 1967 (age 53 years), Ladysmith, ...",https://twitter.com/pamfoundation
7,Katie Price,"Born: May 22, 1978 (age 42Â years), Brighton, ...",https://twitter.com/KatiePrice
8,Victoria Beckham,"Born: April 17, 1974 (age 46 years), Harlow, U...",https://twitter.com/victoriabeckham
9,Kim Kardashian,"Born: October 21, 1980 (age 39Â years), Los An...",https://twitter.com/KimKardashian
10,Claudia Schiffer,"Born: August 25, 1970 (age 50 years), Rheinber...",
11,Alek Wek,"Born: April 16, 1977 (age 43 years), Wau, Sout...",https://twitter.com/therealalekwek
12,Padma Lakshmi,"Born: September 1, 1970 (age 50 years), Chenna...",https://twitter.com/PadmaLakshmi
13,Kourtney Kardashian,"Born: April 18, 1979 (age 41 years), Los Angel...",
14,Ivana Trump,"Born: February 20, 1949 (age 71 years), Zlin, ...",
15,Paris Hilton,"Born: February 17, 1981 (age 39 years), New Yo...",https://twitter.com/ParisHilton
16,Iman,"Born: July 25, 1955 (age 65 years), Mogadishu,...",https://twitter.com/the_real_iman
17,Monica Bellucci,"Born: September 30, 1964 (age 56 years), Città...",https://twitter.com/mbelluccinet
18,Priyanka Chopra,"Born: July 18, 1982 (age 38 years), Jamshedpur...",https://twitter.com/priyankachopra
19,Sasha Grey,"Born: March 14, 1988 (age 32 years), North Hig...",https://twitter.com/SashaGrey
20,Jenny McCarthy,"Born: November 1, 1972 (age 47 years), Evergre...",https://twitter.com/JennyMcCarthy
21,RuPaul,"Born: November 17, 1960 (age 59 years), San Di...",
22,Denise Richards,"Born: February 17, 1971 (age 49 years), Downer...",https://twitter.com/DENISE_RICHARDS
23,Jerry Hall,"Born: July 2, 1956 (age 64 years), Gonzales, TX",https://twitter.com/jerryhall_
24,Maddie Ziegler,"Born: September 30, 2002 (age 18Â years), Pitt...",https://twitter.com/maddieziegler
25,Portia de Rossi,"Born: January 31, 1973 (age 47 years), Horsham...",http://www.twitter.com/portiaderossi
26,Janice Dickinson,"Born: February 16, 1955 (age 65 years), Brookl...",
27,Pat Cleveland,"Born: June 23, 1950 (age 70 years), New York, NY",https://twitter.com/iampatcleveland
28,Kim Alexis,"Born: July 15, 1960 (age 60 years), Lockport, NY",https://twitter.com/thekimalexis
29,Laetitia Casta,"Born: May 11, 1978 (age 42 years), Pont-Audeme...",
30,Veronica Webb,"Born: February 25, 1965 (age 55 years), Detroi...",https://twitter.com/veronicawebb
31,Twiggy,"Born: September 19, 1949 (age 71 years), Neasd...",
32,Inès de La Fressange,"Born: August 11, 1957 (age 63 years), Gassin, ...",https://twitter.com/lafressange
33,Ashley Graham,"Born: October 30, 1987 (age 32 years), Lincoln...",https://twitter.com/ashleygraham
34,Beverly Johnson,"Born: October 13, 1952 (age 68 years), Buffalo...",https://twitter.com/beverlyjohnson1
35,Janet Jackson,"Born: May 16, 1966 (age 54 years), Gary, IN",https://twitter.com/JanetJackson
36,Nadine Chandrawinata,"Born: May 8, 1984 (age 36 years), Hanover, Ger...",
37,Areeya Chumsai,"Born: June 28, 1971 (age 49 years), Ann Arbor, MI",

In [12]:
data = pd.read_csv("Celebrities bio.csv")
#Clean up the duplicate record
data = data.drop_duplicates(subset=['twitter'])
data

,name,birthdate,twitter
0,Kim Kardashian,"Born: October 21, 1980 (age 39Â years), Los An...",https://twitter.com/KimKardashian
1,Jennifer Lopez,"Born: July 24, 1969 (age 51 years), Castle Hil...",https://twitter.com/JLo
2,Donald Trump,"Born: June 14, 1946 (age 74 years), Jamaica Ho...",https://twitter.com/realDonaldTrump
3,Rihanna,"Born: February 20, 1988 (age 32 years), Saint ...",https://twitter.com/rihanna
4,Elton John,"Born: March 25, 1947 (age 73Â years), Pinner, ...",https://twitter.com/eltonofficial
...,...,...,...
231,Veronica Webb,"Born: February 25, 1965 (age 55 years), Detroi...",https://twitter.com/veronicawebb
233,Inès de La Fressange,"Born: August 11, 1957 (age 63 years), Gassin, ...",https://twitter.com/lafressange
234,Ashley Graham,"Born: October 30, 1987 (age 32 years), Lincoln...",https://twitter.com/ashleygraham
235,Beverly Johnson,"Born: October 13, 1952 (age 68 years), Buffalo...",https://twitter.com/beverlyjohnson1
236,Janet Jackson,"Born: May 16, 1966 (age 54 years), Gary, IN",https://twitter.com/JanetJackson